@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 80%;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
}
